* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

h1 {
  background-color: #222831;
  color: #fff;
  padding: 1rem;
  margin: 0;
}

label {
  color: #fff;
}

input,
button {
  width: 100% !important;
}

button {
  background-color: #76ABAE !important;
  color: #fff !important;
  border: none !important;
  padding: 0.5rem !important;
}

button:hover {
  background-color: #82babd !important;
}

#list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  flex: 4;
  background-color: #EEEEEE;
  padding: 2rem;
  gap: 3rem;
}

#form {
  background-color: #31363F;
  flex: 2;
  padding: 2rem;
}

.card {
  background-color: #ccc;
  border-radius: 15px;
  padding: 3rem;
  height: fit-content;
}

#show-form {
  background-color: #31363F !important;
  height: fit-content;
  width: fit-content !important;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem !important;
}

#show-form:hover {
  background-color: #222831 !important;
}